{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace yag=Tx_Yag_ViewHelpers}
{namespace yagSimpleViewer=Tx_YagThemeSimpleviewer_ViewHelpers}
<extlist:comment>
<!--  
Template for rendering the list as simpleviewer XML

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData  List of items in album

@package YAG Theme SimpleViewer
@author Daniel Lienert <daniel@lienert.cc>
-->
</extlist:comment>

<script type="text/javascript" src="{yagSimpleViewer:simpleViewerPath()}/web/svcore/js/simpleviewer.js"></script>
<script type="text/javascript">
var flashvars = {};
flashvars.galleryURL = escape("{extlist:uri.action(pageType:'89657201', arguments:'{yag:namespace.gPArray(object:yagContext, arguments: \'albumUid\' ,contextIdentifier: yagContext.identifier)}', pluginName:'xmllist')}");
var params = {};
params.wmode = "transparent";
var attributes = {};
attributes.id = "svInstance";
jQuery(document).ready(function () {
SV.simpleviewer.load("sv-container", "{config.origSettings.themes.simpleViewer.galleryWidth}", "{config.origSettings.themes.simpleViewer.galleryHeight}", "{config.origSettings.themes.simpleViewer.backgroundColor}", {config.origSettings.themes.simpleViewer.backgroundTransparent}, flashvars, params, attributes);
});
</script>
<div id="sv-container"></div>