{namespace extlist=Tx_PtExtlist_ViewHelpers}
{namespace yag=Tx_Yag_ViewHelpers}
<extlist:comment>
<!--  
Template for rendering the list as simpleviewer XML

Here is a list of objects / variables that can be accessed in this template:

Tx_PtExtlist_Domain_Model_List_ListData listData               List of items in album

@package YAG
@author Daniel Lienert <daniel@lienert.cc>
-->
<?xml version="1.0" encoding="UTF-8"?>
</extlist:comment>

<simpleviewergallery
	
	galleryStyle="{config.origSettings.themes.simpleViewer.galleryStyle}"
	 {f:if(condition: config.origSettings.themes.simpleViewer.showAlbumTitle, then: 'title="{album.name}"')}
	textColor="{config.origSettings.themes.simpleViewer.textColor}"
	frameColor="{config.origSettings.themes.simpleViewer.frameColor}"
	frameWidth="{config.origSettings.themes.simpleViewer.frameWidth}"
	thumbPosition="{config.origSettings.themes.simpleViewer.thumbPosition}"
	thumbColumns="{config.origSettings.themes.simpleViewer.thumbColumns}"
	thumbRows="{config.origSettings.themes.simpleViewer.thumbRows}"
	showOpenButton="{config.origSettings.themes.simpleViewer.showOpenButton}"
	showFullscreenButton="{config.origSettings.themes.simpleViewer.showFullscreenButton}"	
	maxImageWidth="{config.origSettings.themes.simpleViewer.resolutionConfigs.medium.width}"
	maxImageHeight="{config.origSettings.themes.simpleViewer.resolutionConfigs.medium.height}"
	useFlickr="false"
	flickrUserName=""
	flickrTags=""
	languageCode="AUTO"
	languageList=""		
	imagePath="images/"
	thumbPath="thumbs/"
>

<f:for each="{listData}" key="rowIndex" as="listRow">
	<image imageURL="{yag:link.image(item:'{listRow.image.value}' resolutionName:'medium')}" thumbURL="{yag:link.image(item:'{listRow.image.value}' resolutionName:'thumb')}" linkURL="" linkTarget="" >
		<f:if condition="{config.origSettings.themes.simpleViewer.showImageTitle}">
			<caption>{listRow.image.value.title}</caption>	
		</f:if>
	</image>
</f:for>

</simpleviewergallery>